<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li>
        <a routerLink="/category/1" routerLinkActive="active-link">Shirts</a>
      </li>
      <li>
        <a routerLink="/category/2" routerLinkActive="active-link">T-shirts</a>
      </li>
      <li>
        <a routerLink="/category/3" routerLinkActive="active-link">Bottoms</a>
      </li>
      <li>
        <a routerLink="/category/4" routerLinkActive="active-link">Shoes</a>
      </li>
    </ul>
  </nav>
</div>